[submodule "lib/CMSIS/Device/ST/cmsis_device_f3"]
	path = lib/CMSIS/Device/ST/cmsis_device_f3
	url = https://github.com/STMicroelectronics/cmsis_device_f3.git
	branch = master
[submodule "lib/CMSIS/Device/ST/cmsis_device_f7"]
	path = lib/CMSIS/Device/ST/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
	branch = master
[submodule "lib/stm32_mw_lwip"]
	path = lib/stm32_mw_lwip
	url = https://github.com/STMicroelectronics/stm32_mw_lwip.git
	branch = master
