bin/
build/
doxygen/html/
doxygen/*.tmp
settings/
*.tmp
lib/CMSIS/Documentation/
lib/CMSIS/*.pdf
lib/CMSIS/*.htm
lib/CMSIS/DSP_Lib/Examples
*.dep
*~
stm32f405rg_no-exceptions_no-rtti/
/Backup*
/stm32++.ewd
/stm32++.ewt
*.ewd
*.ewt

BrowseInfo/
.ninja*
stm32l476rg/
stm32g474/

stm32f303xC/
/stm32f429zi/
/stm32++_IAR_9_5.ewp
/stm32++_IAR_9_5.eww
/stm32++_IAR_9.ewp
/stm32f207/.stm32++_IAR_9_build_cache
/stm32f303x8/Obj/adc.o.rsp
/stm32f303x8/Obj/analogservo.o
/stm32f303x8/Obj/as5040master.o
/stm32f303x8/Obj/button.o
/stm32f303x8/Obj/buzzer.o
/stm32f303x8/Obj/core/advmath.o
/stm32f303x8/Obj/core/application.o
/stm32f303x8/Obj/core/bytearray.o
/stm32f303x8/Obj/core/core.o
/stm32f303x8/Obj/core/device.o
/stm32f303x8/Obj/core/qdebug.o
/stm32f303x8/Obj/core/quaternion.o
/stm32f303x8/Obj/core/timer.o
/stm32f303x8/Obj/cpuid.o
/stm32f303x8/Obj/dac.o.rsp
/stm32f303x8/Obj/dma303x8.o
/stm32f303x8/Obj/dma37x.o.rsp
/stm32f303x8/Obj/gpio.o.rsp
/stm32f303x8/Obj/hardwaretimer.o.rsp
/stm32f303x8/Obj/i2c.o.rsp
/stm32f303x8/Obj/led.o
/stm32f303x8/Obj/led7.o
/stm32f303x8/Obj/motorDC.o
/stm32f303x8/Obj/picontroller.o
/stm32f303x8/Obj/powermanager.o
/stm32f303x8/Obj/precisetimer.o.rsp
/stm32f303x8/Obj/pwminput.o
/stm32f303x8/Obj/pwmout.o.rsp
/stm32f303x8/Obj/rcc.o.rsp
/stm32f303x8/Obj/rgbled.o
/stm32f303x8/Obj/rotaryencoder.o
/stm32f303x8/Obj/sdadc.o
/stm32f303x8
