bin/
build/
doxygen/html/
doxygen/*.tmp
settings/
*.tmp
lib/CMSIS/Documentation/
lib/CMSIS/*.pdf
lib/CMSIS/*.htm
lib/CMSIS/DSP_Lib/Examples
*.dep
*~
stm32f405rg_no-exceptions_no-rtti/
/Backup*
/stm32++.ewd
/stm32++.ewt
*.ewd
*.ewt

BrowseInfo/
.ninja*
stm32l476rg/
stm32g474/

stm32f303xC/
/stm32f429zi/
/stm32++_IAR_9_5.ewp
/stm32++_IAR_9_5.eww
/stm32++_IAR_9.ewp
/stm32f207/
/stm32f303x8/
