*.user.*
Thumbs.db

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
deploy
[Rr]elease*/
_ReSharper*/
src_backup_without_roboead_things/
stm32f405rg/
stm32f407vg/
trash/
doxygen/html/
settings/
stm32*/
*.tmp
doxygen/html/
lib/CMSIS/Documentation/
lib/CMSIS/*.pdf
lib/CMSIS/*.htm
lib/CMSIS/DSP_Lib/Examples
stm32++.dep
*.dep
*.dep
